.summary {
  animation: height 22s linear;
  color: black;
  display: flex;
  height: 0px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  perspective: 400px;
  overflow: hidden;
  width: 450px;
}

.film {
  animation: crawl 120s linear;
  transform-origin: 50% 100%;
  position: relative;
  color: #feda4a;
  font-size: 30px;
  text-align: center;
}

.film-text {
  text-align: justify;
}


@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    min-height: 0px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes height {
  0% {
    height: 300px;
  }
  100% {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .summary {
    animation: height 25s linear;
    width: 300px;
  }
}
